body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: "Poppinns", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
}

/* ---------- HEADER ---------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  background-color: #263043;
  border-radius: 0px 0px 10px 10px;
  margin: 0px 10px 0px 10px;
  background-color: #7ab2b2;
  color: white;
}

.menu-icon {
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.dropdown-button:hover {
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-button {
  transition: background-color 0.3s ease;
}

.dropdown-content a {
  transition: color 0.3s ease;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #7ab2b2;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 0px 20px 20px 0px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px 0px;
  margin-bottom: 0px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  border-radius: 20px;
  margin: 0px 10px 10px 10px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
a:hover {
  color: white !important;
}
.sidebar-list-item > a {
  text-decoration: none;
  color: white;
  font-family: "Poppinns", sans-serif;

  font-size: 18px;
}
.sidebar-list-item .material-icons-outlined {
  margin-right: 10px;
}
.material-icons-outlined {
  margin-right: 10px;
}
.dropdown .material-icons-outlined {
  margin-right: 50px;
}
.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: #374259;
  font-weight: 500;
  background-color: #cde8e5;
  margin: 20px 10px 0px 10px;
  border-radius: 10px;
  height: 95%;
  overflow-y: hidden;
}

.main-title {
  display: flex;
  justify-content: center;
}
.main-title h1 {
  font-size: 35px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
}
.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
  background-color: #fc4100;
}

.card:nth-child(2) {
  background-color: #6dc5d1;
}

.card:nth-child(3) {
  background-color: #feb941;
}

.card:nth-child(4) {
  background-color: #e1afd1;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-inner h3 {
  font-size: 15px;
}
.card h1 {
  font-size: 30px;
}
.card-inner > .material-icons-outlined {
  font-size: 25px !important;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 20px;
}

/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Small <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

.content {
  display: none;
}

.content.active {
  display: block;
}

/* ---------- TABLE ---------- */

.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f5f5f5;
}
/* ---------- SEARCH ---------- */

.search-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-container input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  outline: none;
}

.search-container button {
  padding: 10px 20px;
  background-color: #7ab2b2ac;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #48aaaac7;
}

.data-card {
  width: 50%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
}

.data-card h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 1px solid #464141;
  padding-bottom: 10px;
}

.data-card div {
  margin-bottom: 10px;
  font-size: 16px;
}
button {
  background-color: #4caf50; /* Màu nền xanh lá */
  color: white; /* Màu chữ trắng */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049; /* Màu tối hơn khi hover */
}
