@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  font-family: Poppins-Medium;
}
#chart {
  width: 100%; /* Kích thước chiều rộng */
  height: 100%; /* Kích thước chiều cao */
}
.chart-container {
  box-shadow: 0 0 8px rgba(17, 17, 17, 0.1);
  padding: 20px;
  /* position: relative;
  top: -500px; */
  max-width: 800px;
  margin-left: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: stretch;
}
.chart-container,
.form-container {
  flex: 1;
  margin-top: 70px;
}
.form-container {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: 200px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group {
  padding-right: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: auto;
}

label {
  font-family: Poppins-Medium;
  display: block;
  margin-bottom: 5px;
}

input {
  font-family: Poppins-Medium;
  width: 100%;
  color: #666666;
  background-color: #e6e6e6;
  border: none;
  height: 50px;
  padding: 0;
  padding-left: 20px;
  display: block;
  margin-bottom: 10px;
  border-radius: 25px;
  display: block;
  font-size: medium;
  margin: 0;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1477e1;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"]:hover {
  background-color: darkblue;
}
.logout-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  position: fixed;
  top: 0;
  right: 0;
}

.logout-button:hover {
  background-color: #da190b;
  color: white;
}
